body {
    margin: 0;
    margin-bottom: 70px;
    
    
}

header {
    background-image: url(wood.jpg);
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.profilepicture {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
}

.logo-top {
    margin: 0;
    height: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    font-family: 'Fredericka the Great', cursive;
    line-height: 20px;
}


.wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        background-color: #d8b241;
        background-size: cover;
    }

    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
      }

      .searchbox {
          margin-left: 4px;
          margin-bottom: 10px;
          
      }

      input[type=text] {
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        background-color:rgb(235, 214, 195);
        border-radius: 5px;
        height: 25px;
        width: 200px;
        
      }
      
      /* When the input field gets focus, change its width to 100% */
      input[type=text]:focus {
        width: 50%;
      }
      

.scroll {
        overflow-y: scroll;
        padding: 20px;
    }

body {
    background-color:  #d8b241;
}
footer {
    background-image: url(wood.jpg);
    position: fixed;
    width: 100%;
    bottom: 0;
} 


nav {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
a {
    display: grid;
    justify-content: center;
    align-content: center;
}

a:link, a:visited {
    color: rgb(32, 31, 31);
}

a:hover {
    color: black;
}

img {
        width: 100%;
        object-fit: cover;
        height: 150px;
}

.mainheader {
    font-size: 1.4em;
    margin-top: 3em;
}

.navlink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.rent {
    background-image: url(wood.jpg);
    margin-top: 50px;
    text-align: center;
    color:  rgb(229, 204, 182);
    width: 280px;
    height: 50px;
    line-height: 65px;
    
}

.buy {
    color: rgb(78, 18, 18);
    margin-top: 60px;
    text-align: center;
}

input type=text
    
.caption-title {
    grid-area: title;
}
.caption-price {
    grid-area: price;
}
.caption-km {
    grid-area: km;
}
.caption-age {
    grid-area: age;
}
.caption-location {
    grid-area: location;
}
.vanpic {
    grid-area: vanpic;
}

.box {
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-gap: 10px;
    grid-template-areas: 
    "vanpic title location"
    "vanpic price ."
    "vanpic km age";
}

.caption {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 0px;
    grid-template-areas: 
    "title location"
    "price . "
    "km age";
}


.box {
    margin: 0;
    margin-top: 0.2em;
    border: 1px solid rgb(43, 41, 41);
    background:  rgb(229, 204, 182);
    height: 130px;
}

.caption-title {
    margin: 0;
}

.caption-location{
    margin: 0;
    font-size: 8px;
    display: flex;
    position: absolute;
    right: 0px;
}


.vanpic {
    height: 130px;
}

a {
    text-decoration: none;
}