/* 
font-family: 'Catamaran', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Poppins', sans-serif;

*/

.wrapper {
        max-width: 900px;
        margin: auto;
    }

body {
    background-color: #e4bd48;
}


