/* 
font-family: 'Catamaran', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Poppins', sans-serif;

*/
body {
    margin: 0;
}

.wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        background-color: #d8b241;
        background-size: cover;

    }

.scroll {
        overflow-y: scroll;
        padding: 20px;
    }

body {
    background-color:  #d8b241;
}
footer {
    background-image: url(wood.jpg);
    position: fixed;
    width: 100%;
    bottom: 0;
} 

nav {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
a {
    display: grid;
    justify-content: center;
    align-content: center;
}

a:link, a:visited {
    color: rgb(7, 7, 7);
}


/*cards*/



.cards {
	margin: 1em;
	padding: 0;
	list-style-type: none;
}

.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}

.caption {
	padding: 1em;
	background: rgba(56, 47, 31, 0.6);
	color: white;
	font-size: 0.8em;
	transition: opacity 1s;
}

a:focus .caption,
a:hover .caption {
	background: rgba(27, 24, 17, 0.6);
}

.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 0.1em;
}

img {
    display: block;
    max-width: 150px
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.card img, .caption {
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: auto;
}

